@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

$ff-main: 'Poppins', sans-serif;

*, *::after, *::before {
   box-sizing: border-box
}

body {
   margin: 0;
   padding: 0;
}

.header {
   .page-tabs {

      ul  {
         display: flex;
         justify-content: center;
         padding: 1vw 2vw;
         margin: 0;
         
         li {
            list-style: none;
            margin-right: 1.2vw;
            font-size: 1.2rem;
            font-family: $ff-main;
            font-weight: 400;
            cursor: pointer;
            letter-spacing: .7px;
            color: lightgrey
         }

         li:hover {
            text-decoration: underline
         }

         .active {
            color: black
         }
      }
   }
}