@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

$ff-tabs: 'Poppins', sans-serif;
$ff-titles: 'Nunito Sans', sans-serif;

*, *::after, *::before {
   box-sizing: border-box
}

body {
   margin: 0;
   padding: 0;
}

.header {
   .page-tabs {
      font-family: $ff-tabs;

      ul  {
         display: flex;
         justify-content: center;
         padding: 1vw 2vw;
         margin: 0;
         
         li {
            list-style: none;
            margin-right: 1.2vw;
            font-size: 1.2rem;
            font-weight: 400;
            cursor: pointer;
            letter-spacing: .7px;
            color: lightgrey
         }

         li:hover {
            text-decoration: underline
         }

         .active {
            color: black
         }
      }
   }
}

.content-container {
   .titles {
      text-align: center;
      margin: 25vh auto;
      border-bottom: 2px solid black;
      max-width: 85vw;
      font-family: $ff-titles;

      .name {
         font-size: 4.8rem;
         font-weight: 600;
         margin: 0;
         letter-spacing: 1px;
         line-height: 75px
      }
   
      h2 {
         font-weight: 400;
         font-size: 2.2rem;
         margin: 0 0 1.2vh
      }
   }
}